<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.oneMap.module.main">

    <application
        android:configChanges="keyboardHidden|orientation|screenSize"
        android:name="debug.MainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/icon_start"
        android:label="@string/module_main"
        android:supportsRtl="true"

        android:theme="@style/AppTheme.NoActionBar"
        tools:replace="Android:icon, android:label">
        <activity android:name="com.oneMap.module.main.MainActivity">

        </activity>
    </application>

</manifest>
