<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.oneMap.module.Baidu">

    <application
        android:configChanges="keyboardHidden|orientation|screenSize"
        android:name="debug.BaiduApplication"
        android:allowBackup="true"
        android:icon="@mipmap/icon_start"
        android:label="@string/module_baidu_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="Android:icon, android:label">
        <activity
            android:name=".main.BaiduActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>